.product-item {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: var(--color-white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: all ease-in 0.3s;
    overflow: hidden;
    .image {
        position: relative;
        height: 240px;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .content {
        padding: 16px;
        .top {
            margin-bottom: 32px;
            .title {
                margin-bottom: 8px;
                font-size: 1.8rem;
                font-weight: 500;
                color: var(--color-text);
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .subtitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;
                .category {
                    display: block;
                    padding: 4px 8px;
                    font-size: 1rem;
                    color: var(--color-white);
                    background-color: var(--color-green);
                    border-radius: 999px;
                }
                .favourite {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    color: var(--color-red);
                }
            }
        }
        .bottom {
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.2rem;
                .size {
                    span {
                        &:last-child {
                            font-size: 1.4rem;
                            text-transform: capitalize;
                            color: var(--color-text);
                            font-weight: 600;
                        }
                    }
                }
            }
            .action {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .add-to-cart {
                    cursor: pointer;
                }
            }
            hr {
                margin-top: 1rem;
                margin-bottom: 1rem;
                border: 0;
                border-top: 1px solid var(--color-border);
            }
        }
    }
    &:hover {
        box-shadow: 0 0 4px var(--color-red), 0 5px 20px #0000001a;
        .image {
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background-color: #39393939;
            }
        }
    }
}

// DISCOUNT TAG

.discount {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100px;
    transform: rotate(-45deg) translate(-25%, -40%);
    height: 28px;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
    span {
        &:last-child {
            transform: rotate(-90deg);
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
}

// FAVOURITE

// RATING

.rating {
    display: flex;
    gap: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    .rate {
        color: var(--color-gold);
    }
    .count {
        color: var(--color-shadow);
        span {
            &:first-child {
                margin-right: 2px;
            }
        }
    }
}

// PRICE TAG

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    p {
        &:first-child {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--color-orange);
        }
        &:last-child {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--color-shadow);
            text-decoration: line-through;
        }
    }
}
