.wrapper {
    background-color: var(--color-light);
    box-shadow: 0px 1px 4px 0 var(--color-shadow);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 8px;
        background-color: var(--color-white);
        box-shadow: 0 1px 4px 0 var(--color-border);
        .uuid {
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--color-blue);
        }
    }
    .body {
        padding: 0 8px;
        li + li {
            border-top: 1px solid var(--color-border);
        }
        .hidden-item {
            padding: 16px 0;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--color-shadow);
        }
    }
    .footer {
        padding: 16px 8px;
        text-align: right;
        p {
            margin-bottom: 16px;
            span {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--color-text);
                &:last-child {
                    margin-left: 16px;
                    font-size: 1.8rem;
                    color: var(--color-red);
                }
            }
        }
        .action {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            margin-left: auto;
            gap: 8px;
            button {
                max-width: 120px;
            }
        }
    }
}
.status {
    font-size: 1.4rem;
    font-weight: 600;
}
.status.grey {
    color: var(--color-shadow);
}
.status.warning {
    color: var(--color-warning);
}
.status.blue {
    color: var(--color-blue);
}
.status.green {
    color: var(--color-green);
}
.status.error {
    color: var(--color-error);
}
