.background {
    width: 100%;
    background: var(--gradient-pink),
        url(https://res.cloudinary.com/dqhuy/image/upload/v1667639893/MMFood/Food/banh-canh-dacbiet_nkjhsy.jpg);
    background-size: cover;
    background-position: center;
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        min-height: calc(100vh - 64px);
        margin: 0 auto;
        padding: 16px;
        .list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 8px;
        }
        .empty {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--color-shadow);
            background-color: var(--color-white);
            box-shadow: 0 2px 4px 1px var(--color-border);
            border-radius: 6px;
        }
    }
}
