.background {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    background: var(--gradient-pink),
        url(https://res.cloudinary.com/dqhuy/image/upload/v1667639893/MMFood/Food/banh-canh-dacbiet_nkjhsy.jpg);
    background-size: cover;
    background-position: center;
    .wrapper {
        padding: 16px 8px;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 16px;
    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 8px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        .list {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    }
}
