.page-background {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: var(--gradient-pink),
        url(https://res.cloudinary.com/dqhuy/image/upload/v1667639893/MMFood/Food/banh-canh-dacbiet_nkjhsy.jpg);
    background-size: cover;
    background-position: center;
    // .wrapper {
    //     padding: 16px 8px;
    //     margin: 0 auto;
    //     width: 100%;
    //     max-width: 1200px;
    // }
}
