.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    padding: 16px;
    .list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 8px;
        padding-bottom: 8px;
        // gap: 8px;
        li {
            padding: 4px;
            width: 100%;
        }
    }
    .empty {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-shadow);
        background-color: var(--color-white);
        box-shadow: 0 2px 4px 1px var(--color-border);
        border-radius: 6px;
    }
}

@media (min-width: 540px) {
    .wrapper {
        .list {
            li {
                width: calc(100% / 2);
            }
        }
    }
}

@media (min-width: 840px) {
    .wrapper {
        .list {
            li {
                width: calc(100% / 3);
            }
        }
    }
}

@media (min-width: 1280px) {
    .wrapper {
        .list {
            li {
                width: calc(100% / 4);
            }
        }
    }
}
