.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 8px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    list-style: none;
    gap: 16px;
    li {
        width: (100%);
    }
}

@media (min-width: 1024px) {
    .wrapper {
        li {
            width: calc(50% - 8px);
        }
    }
}
