.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-blue);
    box-shadow: inset 0 0 0 0 var(--color-blue);
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        box-shadow: inset 0 -1.5px 0 0 var(--color-blue);
    }
}
