.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    .left,
    .right {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 12px;
        gap: 12px;
        .left {
            width: calc(60% - 6px);
            border-radius: 4px;
        }
        .right {
            width: calc(40% - 6px);
            border-radius: 4px;
        }
    }
}
