.cart {
    padding: 16px;
    background-color: var(--color-white);
    .title {
        margin-bottom: 16px;
        font-weight: 600;
        color: var(--color-text);
    }
    ul {
        list-style: none;
        max-height: 640px;
        overflow-y: overlay;
        li {
            width: 100%;
        }
        li + li {
            padding-top: 8px;
        }
    }
}
