.wrapper {
    padding: 16px 0;
    gap: 16px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: transparent;
    .greeting {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--color-text);
    }
    .main {
        display: block;
        margin-top: 16px;
        width: 100%;
        background-color: var(--color-white);
        border-radius: 4px;
        .details {
            display: flex;
            flex-wrap: wrap;
            padding: 16px;
            column-gap: 16px;
            .section {
                width: 100%;
            }
            .action {
                display: flex;
                flex-direction: column;
                margin-top: 32px;
                gap: 8px 16px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .wrapper {
        .greeting {
            font-size: 2.4rem;
        }
        .main {
            .details {
                flex-wrap: nowrap;
                .section {
                    width: 50%;
                    .action {
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
